/*---base style----*/
* {
  box-sizing: border-box; }

body {
  font-family: 'Muli', sans-serif;
  color: gray; }

p {
  font-size: 12px;
  line-height: 19px; }

.container {
  padding: 40px; }
  @media (min-width: 769px) {
    .container {
      padding-left: 20px;
      padding-right: 20px; } }

.grid__row {
  margin-top: 30px; }

#type {
  font-weight: normal; }

#images {
  font-weight: normal;
  margin-top: 50px; }

#buttons {
  font-weight: normal; }

#grid {
  font-weight: normal; }

.theme__colors {
  align-items: center; }

.img--logo {
  width: 175px; }
  @media (min-width: 769px) {
    .img--logo {
      max-width: 85%; } }

.grid__col--3,
.grid__col--9,
.grid__col--4,
.form,
.grid__col--6,
.grid__col--12,
.grid__col--5,
.grid__col--7,
.grid__col--8 {
  display: flex;
  flex-direction: column; }

.grid__col--3 {
  align-items: center; }
  @media (min-width: 769px) {
    .grid__col--3 {
      padding-left: 10px; } }

.grid__col--3.theme__colors {
  color: gray;
  background-color: #bdabfc;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px; }
  @media (min-width: 769px) {
    .grid__col--3.theme__colors {
      flex-grow: 4;
      margin: 5px; } }

.grid__col--4 {
  margin-top: 50px; }
  @media (min-width: 769px) {
    .grid__col--4 {
      display: flex;
      margin-top: 0px;
      justify-content: flex-start; }
      .grid__col--4 .form {
        flex-wrap: flex;
        flex-direction: column;
        width: 275px; } }
  .grid__col--4 #forms {
    margin-bottom: 0px;
    padding-left: 10px;
    font-size: 17px; }
  .grid__col--4 .img--avatar {
    max-width: 75%;
    align-self: center;
    padding: 20px;
    margin: none; }
    @media (min-width: 769px) {
      .grid__col--4 .img--avatar {
        max-width: 90%;
        max-height: 180px;
        margin-top: 40px;
        margin-bottom: none;
        padding-top: 10px;
        border-radius: 50%; } }
  .grid__col--4 .form__label--hidden {
    display: none; }
  .grid__col--4 input[type="text"],
  .grid__col--4 input[type="password"],
  .grid__col--4 textarea,
  .grid__col--4 select {
    padding: 4px;
    width: 100%;
    border-top: none;
    border-bottom: 5px solid #49d09d;
    border-left: none;
    border-right: none; }
  .grid__col--4 .form__input {
    margin-top: 2px;
    margin-bottom: 10px;
    max-width: 92%;
    align-self: center; }
  .grid__col--4 .btn--default {
    margin-top: 15px;
    background-color: #35b0ec;
    padding: 8px;
    border-radius: 4px;
    border: none;
    color: white; }
    @media (min-width: 769px) {
      .grid__col--4 .btn--default {
        width: 100%;
        align-self: center;
        margin-top: 5px; } }

.grid__col--4.theme__colors {
  color: gray;
  background-color: #4DD7FF;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px; }
  @media (min-width: 769px) {
    .grid__col--4.theme__colors {
      justify-content: space-around;
      flex-grow: 1;
      margin: 5px; } }

.grid__col--5 {
  color: gray;
  background-color: #86dfa7;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px; }

.grid__col--6 .img--avatar {
  max-width: 75%;
  align-self: center;
  padding: 20px;
  margin: none; }
  @media (min-width: 769px) {
    .grid__col--6 .img--avatar {
      margin-right: 75px;
      max-width: 70%;
      max-height: 200px; } }
.grid__col--6 .img--frame {
  align-self: center;
  border: 1px solid gray;
  max-width: 80%;
  padding: 10px;
  margin-top: 20px; }
  @media (min-width: 769px) {
    .grid__col--6 .img--frame {
      max-width: 75%; } }

.grid__col--6.theme__colors {
  color: darkgray;
  background-color: #148bae;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px; }
  @media (min-width: 769px) {
    .grid__col--6.theme__colors {
      justify-content: space-around;
      flex-grow: 1;
      margin: 5px; } }

.grid__col--7 {
  color: gray;
  background-color: #e58282;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px; }
  @media (min-width: 769px) {
    .grid__col--7 {
      flex-grow: 2;
      margin: 5px; } }

.grid__col--8 .headline--primary {
  padding-left: 25px;
  color: #49d09d; }
  @media (min-width: 769px) {
    .grid__col--8 .headline--primary {
      padding-left: 15px;
      padding-bottom: 10px;
      font-size: 22px; } }
.grid__col--8 .link {
  text-decoration: none;
  font-weight: bold;
  color: #3ac2ea; }
.grid__col--8 .blockquote {
  font-weight: 400;
  font-size: 22px;
  padding-left: 20px;
  border-left: 10px solid #49d09d;
  border-bottom-left-radius: 3%;
  border-top-left-radius: 3%; }
  @media (min-width: 769px) {
    .grid__col--8 .blockquote {
      font-size: 16px;
      margin-top: 40px; } }

.grid__col--8.theme__colors {
  color: gray;
  background-color: #f4aa89;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px; }
  @media (min-width: 769px) {
    .grid__col--8.theme__colors {
      justify-content: space-around;
      flex-grow: 2;
      margin: 5px; } }

.grid__col--9 .nav {
  margin-top: 20px;
  padding: 20px; }
.grid__col--9 .nav a {
  display: block;
  color: #797e83;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  padding: .8em;
  text-decoration: none; }
@media (min-width: 769px) {
  .grid__col--9 {
    padding-right: 0px;
    padding-left: 50px;
    margin: auto; } }
.grid__col--9 .nav a:hover {
  color: white;
  background-color: #6adfad;
  border-radius: 5px; }
.grid__col--9 .nav__item {
  list-style-type: none;
  max-width: 100%;
  margin: auto; }
  @media (min-width: 769px) {
    .grid__col--9 .nav__item {
      font-size: small; } }

.grid__col--12 .btn--default,
.grid__col--12 .btn--success,
.grid__col--12 .btn--error,
.grid__col--12 .btn--warning,
.grid__col--12 .btn--info {
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  margin-left: 5px;
  margin-right: 5px; }
.grid__col--12 .btn--default.theme__colors {
  background-color: #35b0ec; }
  @media (min-width: 769px) {
    .grid__col--12 .btn--default.theme__colors {
      flex-grow: 1;
      margin-top: 5px;
      padding-top: 12px;
      padding-bottom: 12p;
      margin: 15px;
      margin-bottom: 40px;
      border-radius: 4px; } }
.grid__col--12 .btn--success.theme__colors {
  background-color: #30d68f; }
  @media (min-width: 769px) {
    .grid__col--12 .btn--success.theme__colors {
      flex-grow: 1;
      margin-top: 5px;
      padding-top: 12px;
      padding-bottom: 12p;
      margin: 15px;
      margin-bottom: 40px;
      border-radius: 4px; } }
.grid__col--12 .btn--error.theme__colors {
  background-color: #d47453; }
  @media (min-width: 769px) {
    .grid__col--12 .btn--error.theme__colors {
      flex-grow: 1;
      margin-top: 5px;
      padding-top: 12px;
      padding-bottom: 12p;
      margin: 15px;
      margin-bottom: 40px;
      border-radius: 4px; } }
.grid__col--12 .btn--warning.theme__colors {
  background-color: #f48656; }
  @media (min-width: 769px) {
    .grid__col--12 .btn--warning.theme__colors {
      flex-grow: 1;
      margin-top: 5px;
      padding-top: 12px;
      padding-bottom: 12p;
      margin: 15px;
      margin-bottom: 40px;
      border-radius: 4px; } }
.grid__col--12 .btn--info.theme__colors {
  background-color: #9471ea; }
  @media (min-width: 769px) {
    .grid__col--12 .btn--info.theme__colors {
      flex-grow: 1;
      margin-top: 5px;
      padding-top: 12px;
      padding-bottom: 12p;
      margin: 15px;
      margin-bottom: 40px;
      border-radius: 4px; } }
@media (min-width: 769px) {
  .grid__col--12 {
    flex-direction: row;
    flex-grow: 1;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: -15px;
    margin-top: 5px; } }

.grid__col--12.theme__colors {
  color: gray;
  background-color: #6adfad;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 40px;
  margin-bottom: 0px;
  border-radius: 4px; }
  @media (min-width: 769px) {
    .grid__col--12.theme__colors {
      margin-bottom: 5px;
      margin-top: 5px;
      border-radius: 4px; } }

/*-----------------------
	Desktop view	

	Media Queries
-----------------------*/
@media (min-width: 769px) {
  .grid__row,
  .grid__col--3,
  .grid__col--4,
  .grid__col--6,
  .grid__col--8,
  .grid__col--9,
  .form,
  .nav,
  .theme__colors {
    display: flex;
    flex-direction: row;
    justify-content: center; }

  .grid__row {
    justify-content: space-between; }

  /*------
  	#forms {
  
  	padding-left: 0px;
  	font-size: 17px;
  	margin-top: 20px;
  
  	}
  -----*/
  .grid__col--5.theme__colors {
    flex-grow: 1;
    margin: 5px; }

  .grid__col--7.theme__colors.centered {
    flex-grow: .5;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px; } }

/*# sourceMappingURL=application.css.map */
