// mobile view --------/


.grid__col--3 {
	align-items: center;

}

.grid__col--3.theme__colors {
	color: $text_color;
	background-color: $grid3_color;
	align-items: center;
	@include style;
	
}

.grid__col--4 {
	
	margin-top: 50px;

		legend {
			  font-size: 1.3em;
			  margin-bottom: 10px;
			}
			
			#forms {
				padding-left: 25px;
				font-size: 17px;
				}

				.img--avatar {
					@include image-avatar
			
					}
				
				.form__label--hidden {
  					display: none;
 					}

 					input[type="text"],
					input[type="password"],

					textarea,
					select {
					  padding: 8px;
					  width: 100%;
					  border-top: none;
					  border-bottom: 7px solid $textarea_color;
					  border-left: none;
					  border-right: none;
					  
					} 
						.form__input{ 
							margin-top: 20px;
							margin-bottom: 20px;
							max-width: 92%;
							align-self: center;

						}

							.btn--default {
								margin-top: 15px;
								background-color: $default_color;
								padding: 8px;
								border-radius: 7px;
								border: none;
								color: white;

								}
}					


.grid__col--4.theme__colors {
	color: $text_color;
	background-color: $grid4_color;
	@include style;
	
}

.grid__col--5 {
	color: $text_color;
	background-color: $grid5_color;
	@include style;

}


.grid__col--6 {

		.img--avatar {
				@include image-avatar
				}

		.img--frame {
			align-self: center;
			border: 1px solid gray;
			max-width: 100%;
			padding: 10px;
			margin-top: 20px;
					}
			}


.grid__col--6.theme__colors {
	color: darkgray;
	background-color: $grid6_color;
	justify-content: space-between;
	@include style;
}

.grid__col--7 {
	color: $text_color;
	background-color: $grid7_color;
	@include style;
}



	
.grid__col--8 {

	.headline--primary {
		padding-left: 25px;
		color: $headline_primary_color;
		}

		.link {
		text-decoration: none;
		font-weight: bold;
		color: $link_color;
			}	

			.blockquote {
			font-weight: 400;
			font-size: 22px;
			padding-left: 20px;
			border-left: 10px solid $blockquote_color;
			border-bottom-left-radius: 3%;
			border-top-left-radius: 3%; 
			}	

		}	



.grid__col--8.theme__colors {
	color: $text_color;
	background-color: $grid8_color;
	@include style

	}


.grid__col--9 {
	.nav {
	margin-top: 20px;
	padding: 20px;
		
		.nav__item {
			list-style-type: none;
			max-width: 100%;
			margin: auto;
			}
		}
	
	}








.nav a {
	display: block;
	color: $nav_color;
	font-size: 1.125em;
	font-weight: 300;
	text-align: center;
	padding: .8em;
	text-decoration: none;

		.nav a:hover {
			color: white;
			background-color: $hover_color;
			border-radius: 5px;
			}

}


.grid__col--12 {

			.btn--default,
			.btn--success,
			.btn--error,
			.btn--warning,
			.btn--info {
				@include button-style;
				
			}

			.btn--default.theme__colors {
				background-color: $default_color;
			}

			.btn--success.theme__colors {
				background-color: $success_color;
				
			}

			.btn--error.theme__colors {
				background-color: $error_color;
			}

			.btn--warning.theme__colors {
			background-color: $warning_color;
			}

			.btn--info.theme__colors {
				background-color: $info_color;

			}
			
}

.grid__col--12.theme__colors {
	color: $text_color;
	background-color: $grid12_color;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 40px;
	margin-bottom: 0px;
	border-radius: 8px;

	
}





